.addMessage {
  margin: 20px;
  font-weight: 500;
  font-size: 30px;
  color: #9ca3af;
  text-align: center;
}

.todoList ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.todoList ul {
  width: 100%;
}

@media (max-width: 470px) {
  .todoList,
  .todoList ul {
    width: 100%;
  }
}
