body {
  margin: 0;
}

* {
  font-family: Vazirmatn !important;
  box-sizing: border-box;
  /* direction: rtl; */
}

.selector {
  width: 300px;
}

.darkSelector > div {
  background: #4d4d4d !important;
}

.darkSelector div {
  color: white !important;
}

.faTextField label {
  left: unset;
  right: 0;
}
